/*



*/

/*BEGIN_SYSTEM_STYLES*/

html {
	height: 100%;
}

body {
	background-color: inherit; /* background color */
	color: inherit; /* text color */
	font-family: Verdana; /* font name */
	font-size: xx-small; /* font size */
	margin: 0; /* top right bottom left */
	height: 100%;
}

.upbudgetofficeclass {
	color: inherit; /* text color */
	font-family: Verdana; /* font name */
	font-size: xx-small; /* font size */	
}

/* Titles */
.upTitle {
	font-size: 1.2em;
}

input, textarea, select {	
	font-family: Verdana; /* font name */
	font-size: xx-small; /* font size */
} 

a:active {
	color: ; /* active link color */
}

a:link {
	color: ; /* link color */
}

a:visited {
	color: ; /* visited link color */
}

/* Menu */
div.upMenuBarVertical {
	list-style-type: none;
	list-style-position: outside;
	padding: 2px;
	margin: 0 0 0 6px;
}

div.upMenuBarVertical ul,li {
	list-style-type: none;
	list-style-position: outside;
	padding: 0;
	margin: 0 0 0 6px;
}

/* template layout */
.upLayout {
	font-family: Verdana; /* font name */
	font-size: xx-small; /* font size */
	width: 100%;
	height: 100%;
}

.upHeaderRow {
	background-color: #A9A9A9; /* background color */
	color: ; /* font color */
}

.upContentTable {
	font-family: Verdana; /* font name */
	font-size: xx-small; /* font size */
	width: 100%;
	height: 100%;
	clear: left;
}

.upMenuColumn {
	background-color: #F1F1F1; /* background color */
	color: ; /* font color */
	width: 180px;
	vertical-align: top;
	padding: 1px;
}

.upContentColumn {
	background-color: inherit; /* background color */
	vertical-align: top;
	padding: 10px;
}

.upFooterRow {
	background-color: #A9A9A9; /* background color */
	color: #FFFFFF; /* footer font color */	
	padding: 4px;
}

.upFooterText {
	font-family: Verdana; /* font name */
	font-size: xx-small; /* font size */	
}

.upForm {
	margin: 0;
	padding: 0;
}

.upGrid {
	border-collapse: separate;
}

.upGrid .upGridContent {
	padding: 0;	
	border: 1px solid #4F93E3; /* grid border */			
}

/* grid pager panel */
.upGridUpperPanel, .upGridLowerPanel {
	padding: 3px;	
	border-left: 0;
	border-right: 0;	
	background-color: inherit; /* grid header color */
	color: inherit;	 /* grid header font color */
	font-family: Verdana; /* font name */
	font-size: xx-small; /* font size */			
}

.upGridUpperPanel {
	border-top: 0px;
	border-bottom: 1px solid;
	border-color: #4F93E3; 
}

.upGridMiddlePanel {
	border: 0;	
}

.upGridLowerPanel {
	border-top: 1px solid;
	border-bottom: 0px; 
	border-color: #BFD3EE; 
}

.upGridUpperPanel td, .upGridLowerPanel td {
	color: inherit;	 /* grid header font color */
	font-family: Verdana; /* font name */
	font-size: xx-small; /* font size */			
}

.upDisplayNone {
	display: none;
}

.upNoBorderBottom {
	border-bottom: 0px;
}

.upNoBorderTop {
	border-top: 0px;
}

.upPager td {
	white-space: nowrap;	
}

.upTabContent {
	padding: 0;
	border: 0;
}

.upMultiColumnTable {
	border: 0;
}

.upMultiColumnTable td {
	padding: 10px;
}

.upItemList {
	display: inline-table;
}

/* main table */
.upTable {
	border: 0;
	border-spacing: 0;
	border-collapse: collapse;
	empty-cells: show;
	width: 100%;
	font-family: Verdana; /* font name */
	font-size: xx-small; /* font size */			
}

.upTableSeparate {	
	border-collapse: separate;		
}

.upTable td {
	padding: 3px; /* cell padding */
	border-bottom: 1px solid; /* border width, horizontal grid line */
	border-top: 0px;
	border-left: 0px;
	border-right: 1px solid; /* border width, vertical grid line */
	border-color: #BFD3EE;  /* border color */
}

.upTableAddOpt {
	border: 0;
	border-spacing: 0;
	font-family: Verdana; /* font name */
	font-size: xx-small; /* font size */			
}

.upTableAddOpt td {
	padding: 3px; /* cell padding */
	border: 0;
}
	
.upTable .upTableHeader, .upTable .upTableHeader td {
	background-color: #2647A0;	/* header bgcolor */
	color: #FFFFFF; /* header font color */
	border-bottom: 1px solid; /* header border width */
	border-right: 1px solid; /* header border width */
	border-color: #4F93E3; /* header border color */	
	background-image: url(../phpimages/blue.png); /* header bg image */
	background-repeat: repeat-x;		
	vertical-align: top; 	
}

.upPointer {
	cursor: pointer;
}

.upTableHeader a:link, .upTableHeader a:active, .upTableHeader a:visited {	
	color: #FFFFFF; /* header font color */
	text-decoration: none;	
}

.upTableHeaderBtn {
	width: 100%;
	font-family: Verdana; /* font name */
	font-size: xx-small; /* font size */				
}

.upTableHeader .upTableHeaderBtn td {
	background: transparent;
	padding: 0;
	border: 0;
	white-space: nowrap;		
}

/* main table row color */
.upTableRow {
	background-color: #FFFFFF;  /* alt row color 1 */
	color: inherit;
}

/* main table alternate row color */
.upTableAltRow {
	background-color: #EDF5FF; /* alt row color 2 */
	color: inherit;	
}

/* main table last row */
.upTableLastRow td {
	border-bottom: 0px;
}

/* main table edit mode row color */
.upTableEditRow {
	background-color: #FFFF99; /* edit mode color */
	color: inherit;
}

/* main table highlight color */
.upTableHighlightRow {
	background-color: #FFFFCC; /* highlight color */
	color: inherit;
}

/* main table select color */
.upTableSelectRow {
	background-color: #8D8D8D; /* select color */
	color: #FFFFFF;
}

/* main table footer */
.upTableFooter {
	background-color: #D4E7FD; /* footer color */
	color: inherit;
}

/* table for export to HTML */
.upExportTable {
	border: 0;
	border-spacing: 0;
	border-collapse: collapse;
	empty-cells: show;
	font-family: Verdana; /* font name */
	font-size: xx-small; /* font size */			
}

.upExportTable td {
	padding: 3px; /* cell padding */
	border-bottom: 1px solid; /* border width, horizontal grid line */
	border-top: 1px solid; /* border width, horizontal grid line */
	border-left: 1px solid; /* border width, vertical grid line */
	border-right: 1px solid; /* border width, vertical grid line */
	border-color: #BFD3EE;  /* border color */
}

.upExportTable .upTableHeader, .upExportTableHeader td {
	background-color: #2647A0;	/* header bgcolor */
	color: #FFFFFF; /* header font color */
	border-bottom: 1px solid; /* header border width */
	border-right: 1px solid; /* header border width */
	border-color: #4F93E3; /* header border color */	
	vertical-align: top; 		
}

.upExportTableRow td {
	background-color: #FFFFFF;  /* alt row color 1 */
	color: inherit;
}

.upExportTableAltRow td {
	background-color: #EDF5FF; /* alt row color 2 */
	color: inherit;	
}

.upExportTableFooter td {
	background-color: #D4E7FD; /* footer color */
	color: inherit;
}

.upBasicSearch {
	font-family: Verdana; /* font name */
	font-size: xx-small; /* font size */
	border: 0px;
	padding: 2px;
}

.upCssTableRow {
	padding-top: 2px;
	padding-bottom: 2px;
}

.upCssTableRow .upCssTableCell {
	padding-right: 10px;
/* NOTE: Uncomment to set fixed length caption
	display: -moz-inline-box;
	display: inline-block;
	width: 100px;
*/
}

.upSearchOprCell {
	font-family: Verdana; /* font name */
	font-size: xx-small; /* font size */
/* NOTE: Uncomment to set fixed length operator
	display: -moz-inline-box;
	display: inline-block;
	width: 10px;
*/
	color: maroon;
}

.upCssTableRow .upCssTableCell .upSearchField {
/* NOTE: Uncomment to set fixed length operator
	display: -moz-inline-box;
	display: inline-block;
	width: 150px;
*/
}

.upItemTable td {
	color: inherit; /* text color */
	font-family: Verdana; /* font name */
	font-size: xx-small; /* font size */
	border: 0px;
	padding: 0px;
	vertical-align: top; 
}

/* separator */
.upSeparator {
    color: gray;
}

/* classes for report */
.upReportTable {
    border: 0px;
    border-collapse: collapse;
}

.upReportTable td {
    padding: 3px;
}

.upGroupField {
	font-weight: bold;
}

.upGroupName {
	font-weight: bold;
}

.upGroupHeader {
	border-bottom: 3px double Gray;
	border-top: 3px double Gray;
}

.upGroupSummary {
	border-top: 1px solid Gray;
} 

.upGroupAggregate {
	font-weight: bold;
}

.upGrandSummary {
	border-top: 1px solid Gray;
}

/* message - reserved for compatibility */
.upMessage {
	color: inherit; /* text color */
	font-family: Verdana; /* font name */
	font-size: xx-small; /* font size */	
}

/* success message */
.upSuccessMessage {
	color: green; /* message color */
	font-family: Verdana; /* font name */
	font-size: xx-small; /* font size */	
}

/* error message */
.upErrorMessage {
	color: red; /* message color */
	font-family: Verdana; /* font name */
	font-size: xx-small; /* font size */	
}

/* required field indicator */
.upRequired {
	color: red; /* message color */
	font-family: Verdana; /* font name */
	font-size: xx-small; /* font size */	
}

/* highlight */
.upHighlightSearch {
	font-weight: bold;
	background-color: yellow;
}

/* Template */
.upTemplate {
	display: none;
}

/* YUI TabView */
.yui-skin-sam .yui-navset .yui-nav  {
	font-family: Verdana; /* font name */
	font-size: xx-small; /* font size */	
}

.yui-skin-sam .yui-navset .yui-content {
	padding: 0;
	border: 0;
}

/* .yui-navset defaults to .yui-navset-top */
.yui-skin-sam .yui-navset .yui-nav,
.yui-skin-sam .yui-navset .yui-navset-top .yui-nav { /* protect nested tabviews from other orientations */
	border-width: 0;
}

/* *** A8 *** */
.yui-skin-sam .yui-navset .yui-nav a,
.yui-skin-sam .yui-navset .yui-navset-top .yui-nav a {
	background: #F5F5F5 url(../phpimages/mediumgray.png) repeat-x; /* tab background */
	color: #000;
	border: solid #a3a3a3; /* tab left/right border color */
	border-width: 0 1px;
}

/* *** A8 *** */
.yui-skin-sam .yui-navset .yui-nav a em,
.yui-skin-sam .yui-navset .yui-navset-top .yui-nav a em {
	border: solid #a3a3a3; /* tab top border color */
	border-width: 1px 0 0;
}

/* *** A8 *** */
.yui-skin-sam .yui-navset .yui-nav a:hover,
.yui-skin-sam .yui-navset .yui-nav a:focus {
	background: #F0FFFF url(../phpimages/liteblue.png); /* highlighted tab background */
}

/* *** A8 *** */
.yui-skin-sam .yui-navset .yui-nav .selected a,
.yui-skin-sam .yui-navset .yui-nav .selected a:focus, /* no focus effect for selected */
.yui-skin-sam .yui-navset .yui-nav .selected a:hover { /* no hover effect for selected */
	background: #2647A0 url(../phpimages/blue.png); /* selected tab background */
	color: #FFFFFF;
}

/* *** A8 *** */
.yui-skin-sam .yui-navset .yui-nav .selected a,
.yui-skin-sam .yui-navset .yui-nav .selected a em {
	border-color: #243356; /* selected tab border color */
}


/* YUI Button */
.yui-skin-sam .yui-button button, .yui-skin-sam .yui-button a {   
  font-size: xx-small; /* font size */
}

/* YUI Panel */
.yui-skin-sam .yui-panel .hd {    
	font-size: xx-small; /* font size */
	line-height: 2.5;     
}

/* Auto-Suggest */
.yui-skin-sam .yui-ac { /* DO NOT CHANGE! */
	position: relative; 
}

.yui-skin-sam .yui-ac-input { /* DO NOT CHANGE! */
	position: relative;
	width: auto;
}

.yui-skin-sam .yui-ac-content ul{
	font-family: Verdana; /* font name */
	font-size: xx-small; /* font size */
	color: #000000; /* text color */ 
}

/* YUI Button */
.yui-skin-sam .yui-button button, .yui-skin-sam .yui-button a {
	font-family: Verdana; /* font name */
	font-size: xx-small; /* font size */
}

.upUnmatched {
	background: #FF9F9F;
}

/* scrollable table */
.upScrollableTable {
	*overflow-y: auto; /* for ie */
}

.upScrollableTable thead tr {
	position: relative; /* for ie */
}

.upScrollableTable .upScrollableTableHeader {
	overflow: hidden;
	position: relative; /* for ie overflow bug http://rowanw.com/bugs/overflow_relative.htm */
}
/* scrollable table */

.upLangForm {
    text-align: right;
}

.upReadOnlyTextArea {
	padding-bottom: 5px;
	padding-right: 5px;
}

.upReadOnlyTextAreaData {
	overflow: auto;
	height: 100%;
	width: 100%;
}

/*END_SYSTEM_STYLES*/
